@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--topbar-background: 323 87% 57%;
		--background-primary: 0 0% 95%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 311 76% 47%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--error: 354 71% 64%;
		--error-200: 354 55% 48%;
		--error-300: 354 71% 32%;
		--success: 170 78% 80%;
		--success-200: 170 79% 39%;
		--success-300: 170 84% 26%;
		--success-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 0, 3%, 87%;
		--ring: 311 76% 47%;
		--radius: 0.5rem;
		--dark-terminal-background: 0 0% 12%;
		--terminal-background: 0, 3%, 87%;
		--terminal-text-color: 0 0% 0%;;
		--warning: 33 82% 76%;
		--warning-200: 33 82% 60%;
		--warning-300: 33 82% 44%;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--topbar-background: 323 87% 57%;
		--background-primary: 240 24% 15%;
		--foreground: 0 0% 95%;
		--card: 250 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 311 76% 47%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 80% 40%;
		--destructive-foreground: 0 85.7% 97.3%;
		--success: 170 78% 80%;
		--success-200: 170 79% 39%;
		--success-300: 170 84% 26%;
		--success-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 0 0% 12%;
		--ring: 311 76% 47%;
		--terminal-background: 0 0% 12%;
		--dark-terminal-background: 0 0% 12%;
		--terminal-text-color: 0 0% 100%;
	}
	.light {
		--background: 0 0% 100%;
		--topbar-background: 323 87% 57%;
		--background-primary: 240 100% 73%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 311 76% 47%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 0, 3%, 87%;
		--ring: 311 76% 47%;
		--radius: 0.5rem;
		--terminal-background: 0, 3%, 87%;
		--dark-terminal-background: 0 0% 12%;
		--terminal-text-color: 0 0% 0%;
	}

	#codingInput,
	#highlightedCodingContent {
		margin: 10px;
		padding: 10px;
		overflow: auto;
	}

	#codingInput,
	#highlightedCodingContent,
	#highlightedCodingContent * {
		font-size: 15pt;
		line-height: 20pt;
		tab-size: 2;
		word-wrap: break-word;
	}

	#highlightedCodingContent,
	#highlightedCodingContent * {
		word-wrap: break-word;
		white-space: pre-wrap;
	}

	#codingInput {
		background: transparent;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: hsl(var(--input)) !important;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		color: hsl(var(--terminal-text-color)) !important;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		color: #f8f8f2;
		text-shadow: none !important;
	}
}


@layer utilities {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background-primary text-foreground;
	}
	a {
		@apply transition-all duration-300 ease-in;
	}
}